html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: grey;
}

main {
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/64/86/a3/6486a34f77b719a5a0782a686a4ac864.jpg");
	width: 375px;
	height: 667px;
	margin: 0 auto;	
}

#heading {
	text-align: center;
	font-family: 'Reem Kufi', helvetica;
	text-decoration: underline;
	font-size: 4em;
    letter-spacing: 4px;
    height: 100px;
    background-color: rgba(255, 255, 255, .9);

}

#intro {
	text-align: center;
	width: 100%;
    height: 157px;
    font-family: 'Muli', helvetica;
    font-weight: lighter;
    padding-top: 58px;
    top: 106px;
    position: relative;
    background-color: rgba(255, 255, 255, .8);
}

ul {
	list-style: none;
	padding: 0;
}

li {
	display: inline-block;
	width: 50%;
	height: 85px;
    text-align: center;
    padding: 29px 20px;
    font-family: 'Muli', helvetica;
    font-weight: bold;
    font-size: 1.3em;
    position: relative;
    top: 19px;
}

#city-choice{
	position: relative;
	bottom: -57px;

}

#city-choice-nyc {
	background: #AAF2FF;
	transition-duration: 1s;
}



#city-choice-la {
	background: #AAF2FF;
	transition-duration: 1s;
} 

#city-choice-nyc:hover,
#city-choice-la:hover,
#new-york li:hover,
#main-cities:hover,
#main-contact:hover,
#main-about:hover,
input[type='submit']:hover {
	background: #5DE5FF;
	cursor: pointer;
}

#main-cities:active{
	background: #AAF2FF;
}
/****************** Main Menu ********************/
#main-menu{
	display: flex;
	position: relative;
	top: 243px;
}

#main-cities,
#main-contact,
#main-about{
	background: #88C1CC;
	transition-duration: 1s;
}
/****************** About  ********************/
#about{
    width: 100%;
    height: 378px;
    margin: 0 auto;
    font-family: 'Muli', helvetica;
    font-weight: lighter;
    padding: 10px;
    position: relative;
    bottom: 273px;
    background-color: rgba(255, 255, 255, .8);
}


/****************** Menu for New York ********************/
#new-york {
	display: flex;
	position: relative;
    bottom: 214px;
}

#new-york li{
	transition-duration: 1s;
	background: #88C1CC;

}

#ny-gallery{
	background: #AAF2FF;
}

/****************** Gallery NY and LA ********************/
#new-york-gallery img,
#los-angeles-gallery img{
	width: 100%;
    height: 313px;
    position: relative;
    bottom: 609px;
}
}

/****************** Info NY ********************/

#new-york-info{
	width: 100%;
    height: 371px;
    position: relative;
    bottom: 608px;
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
}

/****************** Contact ********************/

#contact-form{
	margin: 0 auto;
    position: relative;
    bottom: 276px;
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
    height: 386px;
    font-family: 'Muli', helvetica;
    font-weight: lighter;
    background-color: rgba(255, 255, 255, .8);
}

#contact-form input{
    width: 315px;
    height: 50px;
    position: relative;
    left: 10px;
    font-size: 20px;
}

input[type='submit']{
	background: #88C1CC;
	border: none;
    margin: 10px 0;
    font-family: 'Muli', helvetica;
    font-weight: lighter;
    font-size: 20px;
    transition: 1s;
}

label{
	position: relative;
	left: 11px;
}



